.app {
  --bg-color: #0a0b0d;
  --sub-bg-color: #434343;

  --main-color: #3187ff;

  --white-color: #000;
  --light-gray-color: #333;
  --gray-color: #888;
  --black-color: #fff;

  --box-shadow-color: #83defc55;

  --red-color: #f12424;
}