.GameBank {
  background-color: #967554;
  padding: 20px 10px 30px 10px;
  gap: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 36px;
    color: #39484f;
  }
}

.GameBankContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 50px 15px 30px;
  background-color: #7d583f;
}

.credit {
  display: flex;
  align-items: center;
  gap: 10px;

  span {
    font-weight: 100;
    color: #dbd79e;
    font-size: 30px;
  }

}

.imgContainer {
  display: flex;
  flex-direction: row;

  img {
    height: 50px;
    width: 50px;
    object-fit: contain;
    margin-right: -25px
  }
}